<%- include('../../fragments/header.ejs'); %>

<div class="container mt-3 text-center">
  <a class="btn btn-outline-primary" href="/games/add">Add</a>
</div>

<% if (games.length > 0) {%>
<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Developers</th>
        <th>Platforms</th>
        <th>Genres</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game => { %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.developers %></td>
        <td><%= game.platforms %></td>
        <td><%= game.genres %></td>
        <td class="buttons-action">
          <form action="games/edit" method="post">
            <input type="hidden" name="name" value="<%= game.name %>" />
            <button class="btn btn-outline-warning btn-action" type="submit">Edit</button>
          </form>
          <form action="games/del" method="post">
            <input type="hidden" name="name" value="<%= game.name %>" />
            <button class="btn btn-outline-danger btn-action" type="submit">Del</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<% }; %> 

<%- include('../../fragments/footer.ejs'); %>
